/* 
Colors used:
Primary: (white) #FFFFFF;
Text: (black) #000000;
Accent: (light blue) #3D6EE1;

Fonts used:
Family: Serif 
Heading: Fino 
Paragraphs: Spectral
*/
header {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
  }
  .logo {
    width: 250px;
}
  * {
    box-sizing: border-box;
  }

body{
    background-color:#FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img{
  width: 100%;
}
a {
    color: #3D6EE1;
    text-decoration: none; /* No underlining */
  }
    a:hover {
    color: #0c48d3;
    ;
    text-decoration: underline;
  }
  a:hover, 
  a:focus {
  color: #0c48d3;
  text-decoration: underline;
    }
  a:visited { /* visited link */
    color: purple;
  }
  a:active { /* selected link */
    color: red;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: transparent;
    color: #0c48d3; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #0c48d3;
    transition: 0.2s opacity;
  }
  .button:hover {
    background-color: #0c48d3;
    color: #ffffff;
    text-decoration: none;
  }
  .button.contact {
    display: inline-block;
    background-color: transparent;
    color: #0c48d3;
    text-transform: uppercase;
    border: 1px solid #0c48d3;
  }
  .button.contact:hover {
    background-color: #0c48d3;
    color: #ffffff;
  }

  #work{ 
    background-color: #ffffff;
    color: black
  }
.social{
    text-align: center;
    margin-top: 7px;
  }
 .social a{
    display: inline-block;
    margin: 7px;
    padding: 3px;
 }
 .social img{
    width: 50px;
    height: auto;
 }

 /* Layout styling */
 .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0;
  }
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
  #hero h3 {
    text-align: center; /* Centers text */
  }
  #hero h2{
    text-align: center;
  }
  #main h1,h3{
    text-align: center;
  }
 
  #footer h2{
    text-align: center;
  }
  .logo {
    max-width: 250px;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  nav > ul > li > a:visited {
    color: purple;
  }
  nav > ul > li > a:hover{
    color: #0c48d3;
  }
  nav > ul > li > a:active{
    color: #90b1fd;
  }
  nav{
    display: inline-block;
    width:100%;
  }
  
  #hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }
  header{
	width: [object Object]px; 
	height: [object Object]px; 
	background: #FFFFFF; 
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3)  ; 
}
header{
    position: fixed;
    width: 100%;
    display:inline-block
}
#main {
    padding-top: 250px;
  }
 
.image{
  width: 250px;
  height: auto;
}